In [8]:
import pandas as pd

## GTZAN

In [9]:
# GTZAN_dataset = pd.read_csv("../data/gtzan/features_30_sec.csv")
# GTZAN_dataset.drop(['filename','length'], axis =1, inplace = True)
# X = GTZAN_dataset.drop(['label'], axis=1)
# y = GTZAN_dataset['label']

In [10]:
# GTZAN_dataset.head()

## FMA

In [11]:
# FMA_features = pd.read_csv("../data/fma/features.csv")
# FMA_features.rename(columns={'feature': 'track_id'}, inplace=True)
# FMA_features = FMA_features.iloc[3:,:]
# FMA_features.head()

In [12]:
# FMA_features = pd.read_csv("../data/fma/features.csv")
# FMA_features.rename(columns={'feature': 'track_id'}, inplace=True)
# FMA_features = FMA_features.iloc[3:,:]
# FMA_features.reset_index(drop=True,inplace=True)
# FMA_features.head()

In [13]:
FMA_tracks = pd.read_csv("../data/fma/tracks.csv", index_col=0)
FMA_tracks.columns = FMA_tracks.iloc[0]

/var/folders/8n/d_gn0k3x4k98s_41gm5jms180000gn/T/ipykernel_2003/657502820.py:1: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  FMA_tracks = pd.read_csv("../data/fma/tracks.csv", index_col=0)

In [14]:
track_info = FMA_tracks[["subset","genre_top"]]
track_info.head()

nan       subset  genre_top
NaN       subset  genre_top
track_id     NaN        NaN
2          small    Hip-Hop
3         medium    Hip-Hop
5          small    Hip-Hop

In [15]:
track_info.columns.rename('',inplace=True)
track_info = track_info.iloc[2:,:]
track_info = track_info[track_info['genre_top'].isnull() == False] 
track_info.head()

     subset genre_top
2     small   Hip-Hop
3    medium   Hip-Hop
5     small   Hip-Hop
10    small       Pop
134  medium   Hip-Hop

In [16]:
track_info['track_id'] = track_info.index

In [17]:
track_info

        subset genre_top track_id
2        small   Hip-Hop        2
3       medium   Hip-Hop        3
5        small   Hip-Hop        5
10       small       Pop       10
134     medium   Hip-Hop      134
...        ...       ...      ...
155315   large      Rock   155315
155316   large      Rock   155316
155317   large      Rock   155317
155318   large      Rock   155318
155319   large      Rock   155319

[49598 rows x 3 columns]

In [18]:
FAM_features = pd.read_csv("../data/hand-crafted/FMA_large_handcrafted_features.csv")

In [19]:
FAM_features.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_268,feature_269,feature_270,feature_271,feature_272,feature_273,feature_274,feature_275,feature_276,track_id
0,-66.741410,64.739455,-10.002231,11.330829,-2.727822,8.891641,-1.182455,4.589285,-5.388271,0.250786,...,3.525702,3.193071,3.337189,3.172304,3.071011,2.504620,294.253983,587.491526,513.745229,2
1,-97.808397,71.855532,-3.413279,29.200234,5.849900,11.721005,-3.744999,6.115955,-7.375104,6.202244,...,4.473253,3.789322,2.908291,3.411298,2.938923,2.819453,332.365127,664.145981,748.826273,3
2,-105.404041,85.924090,13.243613,23.001767,-0.557652,12.046464,-4.834882,16.439744,-5.425252,-0.790450,...,2.828115,3.848195,3.140954,2.822905,3.283706,3.327016,225.475160,450.421120,442.359405,5
3,-16.645087,93.852099,-48.170471,31.659137,-3.879786,1.391654,-1.596349,1.807487,-4.567451,-0.302793,...,2.139090,2.503054,1.948620,1.555680,1.909531,2.015724,144.076699,288.991225,487.626090,10
4,-78.545536,98.470599,2.176970,32.474195,16.160496,13.398807,3.954192,5.727227,1.853638,3.222065,...,2.485586,2.841359,2.349862,2.297281,2.031451,2.303322,271.927841,544.163313,718.848523,20

In [20]:
# Concatenate the DataFrames based on the 'track_id' column
merged_df = pd.merge(FAM_features, track_info, on='track_id', how='inner')

In [21]:
merged_df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_270,feature_271,feature_272,feature_273,feature_274,feature_275,feature_276,track_id,subset,genre_top
0,-200.135328,129.773554,-47.432534,10.385080,-16.554282,-10.169019,-23.371157,-8.334896,-21.164362,-9.362678,...,4.349851,4.209425,3.860384,5.044821,86.130321,170.416613,331.447862,26532,medium,Jazz
1,-252.324609,139.042154,-45.560133,20.381123,2.862451,-2.549579,-16.874021,-9.990562,-10.757834,-7.807569,...,2.399930,3.856083,4.779368,4.057518,122.261084,245.845470,358.325781,26533,large,Jazz
2,-263.823581,39.951500,-7.879933,-9.055827,-23.985646,-16.371340,-7.879857,-12.251565,-16.184891,-15.657758,...,3.265884,2.868775,3.348253,4.047651,144.664506,288.981866,505.005423,26534,large,Jazz
3,-92.035311,64.419474,-19.628253,22.916047,1.969990,10.539746,-6.078696,13.298283,-10.967109,1.910686,...,1.894065,1.934787,1.963444,2.244709,175.585575,350.012587,506.467828,26542,medium,Rock
4,-93.675918,78.677242,-45.470395,20.615690,20.914504,23.068826,-3.049914,22.772426,2.722277,-2.051016,...,2.217463,2.029711,2.168323,2.741884,156.261495,312.932351,490.328971,26543,large,Rock

In [22]:
merged_df.to_csv('FMA-large-handcrafted-label.csv' , index=False)

In [ ]:
fma = pd.read_csv('FMA-large-handcrafted-label.csv')